$main-color: #272727;
$font-color: #fcfcfc;

.category {
    &__item {
        overflow-x: hidden;
        overflow-y: auto;
        white-space: nowrap;
        height: 100%;
        min-width: 300px;
        padding-right: 5px;
    }

    &__title {
        padding: 10px;
        height: 40px;
        background-color: $main-color;
        color: $font-color;
    }

    &__list {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        height: 100%;
        margin: 0;
    }

    &__input {
        background-color: $main-color;
        margin-top: 0.5rem;
        padding-right: 0.75rem;
        padding-left: 0.75rem;
        padding-bottom: 0.75rem;
    }

    &__button {
        display: flex;
        margin-top: 0.5rem;
    }
}
