$main-color: #272727;
$font-color: #fcfcfc;

.button {
    color: $font-color;
    background-color: #272727;
    box-shadow: none;
    border-radius: 0;
    width: 100%;

    &:hover {
        background-color: #00aeef;
    }

    &:focus {
        background-color: #00aeef;
    }
}
