@import './../../../assets/styles/colors.scss';

.button {
    color: $font-color;
    background-color: $main-color;
    box-shadow: none;
    border-radius: 0;
    width: 100%;

    &:hover {
        background-color: #00aeef;
    }

    &:focus {
        background-color: #00aeef;
    }
}
