$main-color: #272727;
$font-color: #fcfcfc;

.todo {
    &__title {
        height: 90px;
        background-color: $main-color;
        color: $font-color;
    }

    &__modal {
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        margin-right: -50%;
        transform: translate(-50%, -50%);
    }

    &__checkbox,
    &__checkbox:checked + span:after {
        width: 25px !important;
        height: 25px !important;
        border: 2px solid #00aeef !important;
        background-color: #00aeef !important;
    }
}
