$main-color: #272727;
$font-color: #fcfcfc;

.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;

    &__sign-up {
        &_form {
            width: 600px;
        }
    }

    &__sign-in {
        &_form {
            width: 400px;
        }
    }
}

